    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: Calibri, Tahoma, Arial;
        background-color: rgb(245, 243, 245);
    }
    
    h1 {
        font-size: 60px;
        text-transform: uppercase;
        font-family: unset;
        color: rgb(129, 201, 78);
    }
    
    h2 {
        margin-left: 3%;
        font-size: 35px;
    }
    
    footer {
        background-color: rgb(88, 119, 53);
    }
    
    footer hr {
        background-color: #ffffff;
        height: 4px;
    }
    
    .bg-dark {
        background-color: rgba(0, 0, 0, 0.837) !important;
    }
    
    .bg-success {
        background-color: rgba(147, 255, 70, 0.699) !important;
    }
    /* CLASSES QUE PODEM SER REAPROVEITADAS EM VÁRIOS CONTEXTOS */
    
    .paragraphs {
        margin-left: 5%;
    }
    
    .text-justify {
        text-align: justify;
    }
    
    .text-center {
        text-align: center;
    }
    
    .mt-10 {
        margin-top: 10vh;
    }
    
    .mt-15 {
        margin-top: 15vh;
    }
    
    .mb-10 {
        margin-bottom: 10vh;
    }
    
    .pt-15 {
        padding-top: 15vh;
    }
    
    .pb-15 {
        padding-bottom: 15vh;
    }
    
    .height-100 {
        height: 100vh;
    }
    
    .height-90 {
        height: 90vh;
    }
    
    .height-50 {
        height: 50vh;
    }
    
    .height-5 {
        height: 5vh;
    }
    
    .image-darker {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .image-lighter {
        background-color: rgba(255, 255, 255, 0.4);
    }
    
    .z-index-1 {
        z-index: 1;
    }
    
    .float-left {
        float: left;
    }
    
    .content-vertical-middle {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .h2-dicas {
        color: rgb(129, 201, 78);
        font-size: 50px;
    }
    /* ACABOU */
    /* CSS PARA A BARRA DE SCROLL */
    
     ::-webkit-scrollbar {
        width: 8px;
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: darkolivegreen;
        border-radius: 20px;
    }
    /* FIM DO CSS DA BARRA DE SCROLL */
    /* CSS ENVOLVENDO O MENU */
    
    .logo_menu {
        width: 75px;
        margin-left: 3%;
    }
    
    #menu-transparent {
        background-color: transparent;
        transition: all 0.6s;
    }
    
     :target {
        scroll-margin-top: 4.1em;
    }
    /* FIM DO CSS DO MENU */
    /* CSS INÍCIO DA PÁGINA */
    
    .static-background {
        position: relative;
        background: url(../imagens/folhas_fundo4.jpg) center center fixed;
        background-size: cover;
    }
    
    #img-background-home {
        position: relative;
        color: #fff;
    }
    
    .table {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    .table-middle-row {
        display: table-cell;
        vertical-align: middle;
    }
    
    #border {
        border: 6px solid floralwhite;
        padding: 5vh 0vh 5vh 0vh;
    }
    
    #img-background-home h1 {
        font-size: 60px;
        font-weight: 100;
        color: white;
    }
    
    #img-background-home p {
        font-size: 20px;
        font-weight: 100;
        color: white;
    }
    /* FIM DO CSS DO INÍCIO DA PÁGINA */
    /* CSS DA SETA DE IR PARA BAIXO */
    
    .arrow {
        display: inline-block;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    
    .arrow p {
        display: block;
        text-align: center;
        bottom: 0;
    }
    
    .arrow img {
        width: 14vh;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;
    }
    
    .arrow img:hover {
        transform: scale(1.1)
    }
    /* ANIMAÇÃO DA SETA DE IR PRA BAIXO */
    
    @-webkit-keyframes action {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px);
        }
    }
    
    @keyframes action {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px);
        }
    }
    /* FIM DO CSS PARA O INÍCIO DA PÁGINA */
    /* CSS PARA A DIV SEPARATÓRIA ENTRE O COMEÇO E O SOBRE */
    
    #separator-div {
        background-color: rgba(196, 221, 86, 0.775);
        padding: 15px 0px 15px 0px;
    }
    
    #separator-div p {
        display: block;
        text-align: center;
        margin: 0px;
    }
    
    #separator-div img {
        width: 50px;
        margin: 0px 80px 0px 80px;
    }
    /* FIM DO CSS PARA A DIV SEPARATÓRIA */
    /* CSS PARA O SOBRE */
    
    #about h1 {
        margin: 0px 0px 0px 60px;
        padding-top: 45vh;
        font-size: 100px;
        font-weight: 100;
    }
    
    #content-about>div {
        background-color: darkolivegreen;
        width: 400px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.515);
    }
    
    #texts-about {
        margin-top: 15%;
        z-index: 2;
    }
    
    #texts-about p {
        text-align: justify;
        font-size: 17px;
        color: white;
    }
    
    .border-about {
        color: transparent;
        border: 2px solid rgb(209, 159, 31);
        position: relative;
        border-radius: 5px;
    }
    
    #border1-about {
        z-index: 1;
        bottom: -20px;
        left: -30px;
        width: 45px;
        height: 40px;
    }
    
    #border2-about {
        z-index: -1;
        bottom: 0px;
        left: -55px;
        width: 58px;
        height: 53px;
    }
    
    #image-about {
        right: 0;
        background: url(../imagens/foto-sobre-5.jpg);
        filter: saturate(85%);
        opacity: 0.7;
        background-size: cover;
    }
    /* FIM DO CSS DO SOBRE */
    /* CSS DA SUSTENTABILIDADE */
    
    .images-sustain {
        width: 230px;
        height: 230px;
    }
    
    #branch-sustain {
        float: right;
        width: 580px;
        filter: blur(0.5px);
    }
    
    #sustainability button {
        margin-left: 40%;
        border-radius: 15px;
        padding: 5px 20px 5px 20px;
        border-color: rgb(129, 201, 78);
        background-color: rgba(147, 255, 70, 0.445);
    }
    /* FIM DO CSS DA SUSTENTABILIDADE */
    /* CSS DO CADASTRO E LOGIN */
    
    .button-tab,
    input {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .button-tab {
        border: none;
        background: transparent;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 0px 10px 0px;
        outline: none;
        width: 80px;
        position: relative;
    }
    
    .button-tab::after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: yellowgreen;
        content: "";
    }
    
    .button-tab:hover::after,
    .button-tab.active::after {
        width: 100%
    }
    /*ANIMAÇÃO DAS TABS*/
    
    .tab-content>section {
        animation: up 1s;
    }
    
    @keyframes up {
        from {
            opacity: 0;
            transform: translateY(15px);
        }
        to {
            opacity: 1;
        }
    }
    /* FIM DO CSS DAS ABAS */
    /* CSS PARA O JUNTE-SE */
    
    #join h1 {
        text-align: center;
        padding-top: 5vh;
    }
    
    #join img {
        width: 100%;
        height: auto;
    }
    /* COMEÇO CSS DICA 3 */
    
    #bio-background-image {
        background: url(../imagens/biodegradaveis.png) center center;
        background-size: cover;
    }
    
    #bio-background-image h1 {
        text-shadow: 1px 1px 3px black;
        font-size: 90px;
    }
    
    #image-bio {
        float: right;
        width: 450px;
        margin: 0px 0px 10px 15px;
    }
    
    #graphic_bio {
        background: url(../imagens/grafico_decomposicao.png);
        background-size: cover;
    }
    
    #chartdiv {
        width: 100%;
        height: 500px;
    }
    /* CSS PARA TELAS MENORES DE 1185px */
    
    @media only screen and (max-width: 1200px) {
        #about h1 {
            margin: 0px 0px 0px 60px;
            padding-top: 10vh;
        }
        #branch-sustain {
            width: 45%;
        }
    }
    /* CSS TELAS MENORES QUE 1000px */
    
    @media only screen and (max-width: 1000px) {
        #about h1 {
            margin: 10% 0% 0% 5%;
            padding-top: 10%;
            font-size: 15vh;
        }
        #branch-sustain {
            width: 0;
        }
    }
    /* CSS TELAS MENORES QUE 993px */
    
    @media only screen and (max-width: 993px) {
        #image-bio {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    }
    /* CSS TELAS MENORES QUE 768px */
    
    @media only screen and (max-width: 767px) {
        h1 {
            font-size: 33px;
        }
        h2 {
            font-size: 27px;
            margin: 0;
        }
        .h2-dicas {
            font-size: 40px;
            margin: 0;
        }
        .mt-10 {
            margin-top: 5vh;
        }
        .pt-15 {
            padding-top: 7vh;
        }
        .pb-15 {
            padding-bottom: 7vh;
        }
        .paragraphs {
            margin: 0;
        }
        #img-background-home h1 {
            font-size: 40px;
            font-weight: 100;
            color: white;
        }
        #img-background-home p {
            font-size: 15px;
            font-weight: 100;
            color: white;
        }
        #border {
            border: 4px solid floralwhite;
            padding: 5vh 0vh 5vh 0vh;
        }
        #menu-transparent {
            background-color: rgba(0, 0, 0, 0.83);
        }
        #separator-div img {
            width: 50px;
            margin: 0px 30px 0px 30px;
        }
        .images-sustain {
            width: 100%;
            height: 100%;
        }
        #about h1 {
            margin: 0px 0px 0px 20px;
            font-size: 60px;
            padding-top: 7vh;
        }
        #content-about>div {
            width: 85%
        }
        .border-about {
            border: none;
        }
        #texts-about {
            margin-top: 5%;
        }
        #bio-background-image h1 {
            text-shadow: 1px 1px 5px grey;
            font-size: 50px;
        }
    }
    
    @media only screen and (max-width: 520px) {
        #image-bio {
            width: 100%;
        }
    }
    
    @media only screen and (max-width: 400px) {
        #about h1 {
            font-size: 45px;
        }
        #bio-background-image h1 {
            font-size: 45px;
        }
    }
    
    @media only screen and (max-width: 330px) {
        #bio-background-image h1 {
            font-size: 33px;
        }
    }